.header {
  border-bottom: 1px solid $black;

  &-content {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    .logo {
      width: 100%;
      max-width: 150px;
      object-fit: contain;
    }

    .icone-compra {
      width: 20px;
      object-fit: contain;
    }
  }
}