@import "fonts";
@import "reset";
@import "colors";
@import "header";
@import "products";

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  padding: 76px 1rem 1rem 1rem;
}