@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@mixin buttonIcon {
  @include flexCenter;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  color: $white;

  &:hover {
    opacity: 0.8;
  }
}