* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 100%;
}

body,
#root,
html {
  height: 100%;
}

h1 {
  font-weight: 500;
}

button {
  border: none;
}

label,
button {
  cursor: pointer;
}

button,
input {
  outline: none;
}

ul,
ol {
  list-style: none;
}

button,
a {
  transition: all 0.3s;
}