* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 100%;
}

button {
  cursor: pointer;
  border: none;
}

button,
input {
  outline: none;
}

button,
a {
  transition: all 0.3s;
}